name: Build Synology Kernel Modules

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag synology-kernelmodules:latest 
  
    - name: Build the kernel modules for Apollolake
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=Apollolake -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for Broadwellnk
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=Broadwellnk -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for Broadwellntbap
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=Broadwellntbap -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for Denverton
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=Denverton -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for GeminiLake
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=GeminiLake -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for Purley
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=Purley -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for r1000
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=r1000 -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest

    - name: Build the kernel modules for V1000
      run: docker run --privileged --rm -v ./output:/root/output -e PLATFORM=V1000 -e DSM_VERSION=7.2-72806 -e KERNEL_MAJORVERSION=4 -e KERNEL_PATCHLEVEL=4 -e KERNEL_SUBLEVEL=302 -e KERNEL_EXTRAVERSION=+ synology-kernelmodules:latest
      
    - uses: actions/upload-artifact@v4
      with:
        path: output/
        if-no-files-found: error
